<main class="pro-about">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="http://localhost/pagesjaunes_wp">Accueil</a></li>
                <li><a href="http://localhost/pagesjaunes_wp/page-professionnelle/">Espace Pro</a></li>
                <li class="active"><strong>A propos</strong></li>
            </ol>
            <h1>À propos de nous</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="about-intro">
                        <p><strong>www.pagesjaunes.mg</strong> est un portail web  qui permettra aux utilisateurs de <span class="highlight">chercher des produits et services précis</span> auprès des professionnels inscrits.</p>
                        <blockquote> Chaque professionnel aura accès à un Espace Pro pour gérer  les contenus de sa page personnelle</blockquote>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row about-intro-cols">
                        <div class="col-xs-6 col-sm-3">
                            <i class="fa fa-file-text-o"></i>
                            <p><span>Description de la société ou de l’activité professionnelle</span></p>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <i class="fa fa-home"></i>
                            <p><span>Coordonnées (tel, email, web, géolocalisation)</span></p>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <i class="fa fa-list-ol"></i>
                            <p><span>Liste des produits, services et marques</span></p>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <i class="fa fa-image"></i>
                            <p><span>Galerie photos et vidéos</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-presence">
            <div class="container">
                <h2>LA PRESENCE SUR INTERNET</h2>
                <div class="row">
                    <ul class="col-md-8 col-md-offset-4">
                        <li class="clearfix">
                            <p class="chiffre">90<span class="percent">%</span></p>
                            <p class="text"><strong>des clients vont d'abord sur internet avant de venir chez vous.</strong> Plus aucun commerce ou entreprise ne peut croire dans un développement sans une présence appropriée sur internet. Pour générer du trafic et de la visite, rencontrer des prospects, gagner de nouveaux clients, le web est devenu incontournable.</p>
                        </li>
                        <li class="clearfix">
                            <p class="chiffre">97<span class="percent">%</span></p>
                            <p class="text"><strong>des consommateurs recherchent des entreprises locales sur internet.</strong> Les utilisateurs, consommateurs, clients, acheteurs, investisseurs, prospects, contacts... vont d'abord sur internet avant de venir chez vous ou vos concurrents.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-pagesjaunes">
            <div class="container">
                <div class="row row-eq-height">
                    <div class="col-sm-4 col-1">
                        <h2>POURQUOI SUR PAGESJAUNES.MG ?</h2>
                        <p>Nous reposons nos atouts sur une valeur : <strong>LA FACILITE.</strong></p>
                        <p>La facilité de recherche et la facilité d’utilisation</p>
                        <p>Ainsi nous avons beaucoup misé sur <strong>2 points.</strong></p>
                    </div>
                    <div class="col-sm-4 col-2">
                        <h3><i class="fa fa-line-chart"></i> <span>Dans notre référencement web</span></h3>
                        <p>Nous avons comme objectif d’être dans le <strong>Top 3 des sites web malgaches le plus consultés</strong>, et de nous positionner en leader dans les portails web malgache.</p>
                        <p class="highlight">NOUS SOMMES  BIEN POSITIONNE, VOUS GAGNEZ EN VISIBILITE</p>
                    </div>
                    <div class="col-sm-4 col-3">
                        <h3><i class="fa fa-search"></i> <span>Dans un moteur de recherche</span></h3>
                        <p>Le véritable <strong>cœur du site pagesjaunes.mg est son moteur de recherche.</strong> Il permettra aux internautes de faire des recherches à partir de simple mots clés.</p>
                        <p class="highlight">AVEC PAGESJAUNES.MG, ON VOUS TROUVERA PLUS RAPIDEMENT</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
